body:after{
    content:"";
    position:fixed;
    top:0;
    height:100vh;
    left:0;
    right:0;
    z-index:-1;
    margin: 0;
    padding: 0;
    background-color: #0b0d19;
    font-family: monospace;
    min-width: 700px;
    background-image: url(assets/TitleBackground-Fade.JPG);
    background-size:100% auto;
    background-repeat: no-repeat;
}

/** Header stuff **/
.title{
    display: grid;
    font-size: 2em;
    font-weight: bold;
    padding: 25px;
    min-width: 980px;
}
/** Title **/
.title-desc{
    display: grid;
    align-content: center;
    margin-left: auto;
    text-transform: uppercase;
    color: white;
}
/** Navigation **/
.nav-link a{
    display: flex;
    margin-top: 15px;
    color: white;
    
    text-decoration: none;
    border-left: 2px solid transparent;
    border-spacing: 20px;
    padding-left: 10px; 
        
    transition: border-left 0.5s;
}
.nav-link a:hover{
    border-left-color: white;
    border-left-width:thick;
    transition: border 0.5s;
    
}/** Content **/
fieldset{
    display:grid;
    justify-content: center;
    outline-style: groove;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    max-width: 0%;
    min-width: 1000px;
    height: 100%;
    background-color: white;
}
.content{
}

.content-title{
    font-family: serif;
    display:flex;
    justify-content: center;
    text-transform: uppercase;
    margin-top: 75px;
    margin-bottom: -20px;
    font-size: 1.5em;
    font-weight: bold;
    white-space: nowrap;
}
.content-description{
    font-family: serif;
    display:grid;
    
    font-size: 1.25em;
    padding-left: 100px;
    padding-right: 100px;
}
.content-description-lists{
    font-family: serif;
    display:flex;
    justify-content: center;
    
    font-size: 1.25em;
    padding-left: 100px;
    padding-right: 100px;
}
.content-introduction-picture{
    font-family: serif;
    font-size: 1.25em;
    margin-bottom: -200px;
    margin-top: -50px;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid grey;
    border-radius: 100px;
    z-index: 0;
}

.content-description-image-to-text-aligned{
    font-family: serif;
    display:inline-block;
    justify-content: center;
    
    font-size: 1.25em;
    padding-left: 100px;
    padding-right: 100px;
    min-width: 800px;
}

.content-image-border{
    margin-bottom: 10px;
    margin-right: 10px;
}

.content-description > p > a:visited{
    color: #0f3758;
}
.content-description > p > a{
    color: #1b619c;
}
/**Other**/
.list > ul{
    margin-top: -15px;
    margin-bottom: -15px;
}
